@webonyx:registry=https://npm.pkg.github.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=8DB0D031-A5FC-4CDB-A2E5-1D7D7888DB7A
//npm.pkg.github.com/:_authToken=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
